.rog_bg{
    background-image:url("../assets/168080574510.webp");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
 
}


